.appContainer {
  background: rgba(161, 165, 197, 0.13);
  border: 1px solid rgba(119, 119, 134, 0.6);
  box-sizing: border-box;
  width: 95%;
  height: 93vh;
  margin: 2%;
  color: #e6e6e6;
  font-weight: 400;
}

.sidebar {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbarItem__container {
  display: inline-block;
  padding: 15px 15px 0 15px;
}

.navbarItem {
  color: #e6e6e6;
  text-decoration: none;
  margin-right: 10px;
}
